#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 5s infinite ;
  
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

@media (max-width: 768px) {
  .waviy span {
    font-size: 30px; 
  }
}

@media (max-width: 480px) {
  .waviy span {
    font-size: 20px; 
  }
}